@model Company
@{
    ViewData["Title"] = "Upsert";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data" class="table-info">
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-4 mt-3 row">
                <div class="col-12 pb-2">
                    <h4> @(Model.Id != 0 ? "Update" : "Create") Company </h4>
                </div>
                <hr />
                <div class="mt-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="StreetAddress"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <br />  <br />  <br />  <br />
                <hr>
                <div class="col-12">
                    <br />
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-success" style="width:150px"> Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-success" style="width:150px"> Create</button>
                    }
                    &nbsp; &nbsp;<a asp-controller="Company" asp-action="Index" class="btn btn-outline-dark"> Go Back</a>
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}